<% include ./partials/header %>

<% products.forEach(function(products){ %>
  <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
              <img id="image-at-index" src="<%= products.imagePath %>">
          <div class="caption">
              <h4><%= products.title %></h4>
          </div>
          <p><%= products.description %></p>
          
          <div class="clearfix">
            <div class="price pull-left">$<%= products.price %></div>
            <a href="/add-to-card" class="btn btn-success pull-right" role="button">Add to shopping cart</a>
          </div>
      </div>
  </div>
<% }) %>

<% include ./partials/footer %>
