<% include ../partials/header1 %>

<div class="row" style="padding-top:100px">
    <div class="col-md-8 col-md-offset">
        <h1>User profile</h1>
        <hr>
        <h2>My orders</h2>
        <% orders.forEach(function(orders){ %>
            <div class="panel panel-default">
                <div class="panel-body">
                    <ul class="list-group">
                        <% orders.items.forEach(function(items) { %>
                        <li class="list-group-item">
                          <span class="badge"><%= items.price %></span>
                            <%= items.item.title %>  |  <%= items.qty %> Units  
                        </li>
                        <% }) %>
                      </ul>
                </div>
                <div class="panel-footer">
                    <strong>Total price: <%= orders.cart.totalPrice %> zł</strong>
                </div>
            </div>
        <% }) %>
    </div>
</div>

<% include ../partials/footer %>